:root {
    /* Brand color */
  --main-color: #c8dbbe;

  /* Functional colors */
  --sub-black: #241c15;
  --sub-white:#EFEEEA;
  --sub-dark-white:#DBD9D2
  --sub-grey: #403b3b;
  --sub-light-grey: #8c8c8c;
  --sub-cool-beige: #b7a9a1;

  /* Feedback colors */
  --fed-pink: #FBCFBD;
  --fed-green:  #D8EACC;
  --fed-yellow:  #FBEECA;
  

}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #EFEEEA;
  color: var(--sub-black);
}

section {
  text-align: center;

}


/* Section - Title */

#sec-title {
  display: flex;

  width: 100%;
  height: 400px;
  font-size: 1rem;
  font-family: 'Cormorant Garamond', serif;
  font-weight: 700;
  background-color: var(--main-color);


}

#sec-title h1 {
  transform: scale(0.94);
  animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);
  font-size: 50px;
  text-transform: uppercase;
  margin: auto;
  color: white;
  text-align: center;

}


.logo {
  width: 80px;
  color: white;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 30px;
  margin-top: 10px;
}

@keyframes scale {
  100% {
    transform: scale(1);
  }
}


.titleAnime {
  display: inline-block;
  opacity: 0;
  filter: blur(4px);
}

/* Title animation */
.titleAnime:nth-child(1) {
  animation: fade-in 0.8s 0.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.titleAnime:nth-child(2) {
  animation: fade-in 0.8s 0.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.titleAnime:nth-child(3) {
  animation: fade-in 0.8s 0.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.titleAnime:nth-child(4) {
  animation: fade-in 0.8s 0.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
}

.titleAnime:nth-child(5) {
    animation: fade-in 0.8s 0.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .titleAnime:nth-child(6) {
    animation: fade-in 0.8s 0.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }

  .titleAnime:nth-child(7) {
    animation: fade-in 0.8s 0.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .titleAnime:nth-child(8) {
    animation: fade-in 0.8s 0.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }
  
  .titleAnime:nth-child(9) {
    animation: fade-in 0.8s 0.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
  }


@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

/* Section - content */
/* Categories */

#sec-content {
    display: flex;
    width: 80%;
}

.contentLeft {
width: 30%;
}

.categoryList {
    list-style: none;
    text-align: start;
    text-transform: uppercase;
}

.categoryTitle {
    font-size: 25px;
    letter-spacing: 1.2px;
    margin-top: 50px;
}

.category {
    margin-top: 10px;
    margin-bottom: 30px;
    padding: 5px;
    transition: color .1s ease-in-out, box-shadow .3s ease-in-out;

}


.category:hover {
    color: #fff;
    box-shadow: inset 200px 0 0 0 var(--main-color);
    cursor: pointer;
  }

  .category:hover a {
    color: white;
  }





/* Content */

.contentRight {
    width: 80%;
    text-align: start;
}

.contentContainer {
    display: none;
 }
 
 .active {
    display: block;
 }
 
 .contentTitle{
    text-transform: uppercase;
    font-size:50px;
    }
 
    /* Content -  Typography */

    /* Content -  Color */

    /* Content -  Page Layout */
    .pl_darkgray {
      margin: 10px;
      background-color: #332F2F;
      padding: 20px;
      align-items: center;
      line-height: 1.5;
      border-radius: 5px;
    }
    .pl_darkgray.small {
      width: 250px;
    }

    .pl_darkgray.medium {
      width: 500px;
    }

    .pl_darkgray.small p{
      color: #EFEEEA;
      font-size: small;
    }

    .pl_darkgray.medium p{
      color: #EFEEEA;
      font-size: small;
    }

    .pl_darkgray.large p{
      color: #EFEEEA;
      font-size: medium;
    }


    /* Content -  Data Visualization */

    /* Content -  Button */

    /* Content -  Form */
    .formnav {
      overflow: hidden;
    }
    .formnav a {
      float: left;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 17px;
      color: black;
    }
    
    .formnav a:hover {
      background-color: #DBD9D2;
      color: black;
    }
    
    .formnav ul {
      list-style-type: none;
    }

    .formcontainer {
      margin: 10px;
    }
    /* Content -  Notifications */

    /* Content -  Tables */

    /* Content -  Stat/data */

    /* Content -  Dialogs */
